<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event>
        <eventId>E001</eventId>
        <eventName>Rock Night Live</eventName>
        <category>Concert</category>
        <date>2026-05-19</date>
        <time>9:00</time>
        <venue>Colombo City Hall</venue>
        <totalSeats>500</totalSeats>
        <availableSeats>500</availableSeats>
        <ticketPrice>2500.00</ticketPrice>
    </event>
    <event>
        <eventId>E002</eventId>
        <eventName>Championship Match</eventName>
        <category>Sports</category>
        <date>2026-09-05</date>
        <time>15:30</time>
        <venue>Premadasa international Stadium</venue>
        <totalSeats>400</totalSeats>
        <availableSeats>400</availableSeats>
        <ticketPrice>60.00</ticketPrice>

    </event>
</events>

