<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<events>
        
    <event>
                
        <eventId>E001</eventId>
                
        <eventName>Rock Night Live</eventName>
                
        <category>Concert</category>
                
        <date>2026-05-19</date>
                
        <time>9:00</time>
                
        <venue>Colombo City Hall</venue>
                
        <totalSeats>500</totalSeats>
                
        <availableSeats>500</availableSeats>
                
        <ticketPrice>2500.00</ticketPrice>
            
    </event>
        
    <event>
                
        <eventId>E002</eventId>
                
        <eventName>Championship Match</eventName>
                
        <category>Sports</category>
                
        <date>2026-09-05</date>
                
        <time>15:30</time>
                
        <venue>Premadasa international Stadium</venue>
                
        <totalSeats>400</totalSeats>
                
        <availableSeats>400</availableSeats>
                
        <ticketPrice>60.00</ticketPrice>
            
    </event>
    
    <event>
        <eventId>E1779464088947</eventId>
        <eventName/>
        <date>2026-05-29</date>
        <time/>
        <venue>Nelum pokuna theater</venue>
        <category>Concert</category>
        <totalSeats>100</totalSeats>
        <availableSeats>100</availableSeats>
        <ticketPrice>5000.0</ticketPrice>
    </event>
</events>
